
		<!DOCTYPE html>
		<html>
			<head>
                    <meta charset="UTF-8" />
				<title>tablas</title>
				<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 								integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
			</head>
		<html>
     
<table class="table table-striped">
<thead>
<tr>
<th></th>
<th>Id</th>
<th>Nombre</th>
<th>CostoUnitario</th>
</tr>
</thead>
<tbody>
<tr>
<th>492</th>
<td>560</td>
<td>Teclado mecánico</td>
<td>175425</td>
</tr>
<tr>
<th>534</th>
<td>1473</td>
<td>Smartphone</td>
<td>228348</td>
</tr>
<tr>
<th>565</th>
<td>2364</td>
<td>Cámara digital</td>
<td>184081</td>
</tr>
<tr>
<th>620</th>
<td>423</td>
<td>Impresora</td>
<td>191725</td>
</tr>
<tr>
<th>710</th>
<td>179</td>
<td>Router inalámbrico</td>
<td>153517</td>
</tr>
<tr>
<th>755</th>
<td>2943</td>
<td>Smartwatch</td>
<td>200567</td>
</tr>
<tr>
<th>939</th>
<td>2337</td>
<td>Reproductor de DVD/Blu-ray</td>
<td>152732</td>
</tr>
<tr>
<th>1144</th>
<td>2581</td>
<td>Plancha de ropa con vapor</td>
<td>163655</td>
</tr>
<tr>
<th>1186</th>
<td>1504</td>
<td>Smartwatch</td>
<td>155218</td>
</tr>
<tr>
<th>1194</th>
<td>915</td>
<td>Impresora</td>
<td>245904</td>
</tr>
<tr>
<th>1370</th>
<td>742</td>
<td>Dron</td>
<td>241966</td>
</tr>
<tr>
<th>1450</th>
<td>2745</td>
<td>Monitor de computadora</td>
<td>190559</td>
</tr>
<tr>
<th>1471</th>
<td>234</td>
<td>Videocámara</td>
<td>191573</td>
</tr>
<tr>
<th>1667</th>
<td>139</td>
<td>Máquina de afeitar eléctrica</td>
<td>245096</td>
</tr>
<tr>
<th>2078</th>
<td>2231</td>
<td>Ratón óptico</td>
<td>208888</td>
</tr>
<tr>
<th>2195</th>
<td>1405</td>
<td>Kit de realidad virtual (VR)</td>
<td>229584</td>
</tr>
<tr>
<th>2304</th>
<td>32</td>
<td>Linterna LED</td>
<td>197969</td>
</tr>
<tr>
<th>2628</th>
<td>1089</td>
<td>Consola de videojuegos</td>
<td>244669</td>
</tr>
<tr>
<th>2696</th>
<td>2379</td>
<td>Impresora</td>
<td>235428</td>
</tr>
<tr>
<th>2812</th>
<td>2018</td>
<td>Televisor</td>
<td>160546</td>
</tr>
<tr>
<th>2969</th>
<td>434</td>
<td>Tableta gráfica</td>
<td>222297</td>
</tr>
<tr>
<th>2989</th>
<td>2047</td>
<td>Máquina de afeitar eléctrica</td>
<td>170714</td>
</tr>
</tbody>
</table>
</body>
</html>