
		<!DOCTYPE html>
		<html>
			<head>
                    <meta charset="UTF-8" />
				<title>tablas</title>
				<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 								integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
			</head>
		<html>
     
<table class="table table-striped">
<thead>
<tr>
<th></th>
<th>Id</th>
<th>Nombre</th>
<th>CostoUnitario</th>
</tr>
</thead>
<tbody>
<tr>
<th>126</th>
<td>2179</td>
<td>Cámara digital</td>
<td>228665</td>
</tr>
<tr>
<th>163</th>
<td>2886</td>
<td>Kit de realidad virtual (VR)</td>
<td>234771</td>
</tr>
<tr>
<th>244</th>
<td>1271</td>
<td>Kit de realidad virtual (VR)</td>
<td>175479</td>
</tr>
<tr>
<th>380</th>
<td>1126</td>
<td>Auriculares inalámbricos</td>
<td>239755</td>
</tr>
<tr>
<th>414</th>
<td>568</td>
<td>Smartwatch</td>
<td>206170</td>
</tr>
<tr>
<th>433</th>
<td>1900</td>
<td>Teclado mecánico</td>
<td>236597</td>
</tr>
<tr>
<th>518</th>
<td>1468</td>
<td>Robot aspirador</td>
<td>213147</td>
</tr>
<tr>
<th>579</th>
<td>1091</td>
<td>Linterna LED</td>
<td>248918</td>
</tr>
<tr>
<th>782</th>
<td>2632</td>
<td>Auriculares inalámbricos</td>
<td>156910</td>
</tr>
<tr>
<th>948</th>
<td>1666</td>
<td>Auriculares inalámbricos</td>
<td>189297</td>
</tr>
<tr>
<th>1045</th>
<td>2627</td>
<td>Laptop</td>
<td>183274</td>
</tr>
<tr>
<th>1052</th>
<td>741</td>
<td>Teclado mecánico</td>
<td>233451</td>
</tr>
<tr>
<th>1097</th>
<td>2117</td>
<td>Kit de realidad virtual (VR)</td>
<td>245996</td>
</tr>
<tr>
<th>1353</th>
<td>333</td>
<td>Monitor de computadora</td>
<td>155311</td>
</tr>
<tr>
<th>1373</th>
<td>1941</td>
<td>Cargador inalámbrico</td>
<td>182063</td>
</tr>
<tr>
<th>1422</th>
<td>898</td>
<td>Smartphone</td>
<td>175836</td>
</tr>
<tr>
<th>1462</th>
<td>1223</td>
<td>Televisor</td>
<td>237058</td>
</tr>
<tr>
<th>1749</th>
<td>1230</td>
<td>Reloj inteligente para deportes</td>
<td>201398</td>
</tr>
<tr>
<th>1842</th>
<td>590</td>
<td>Dron</td>
<td>197861</td>
</tr>
<tr>
<th>2158</th>
<td>267</td>
<td>Cargador inalámbrico</td>
<td>187106</td>
</tr>
<tr>
<th>2367</th>
<td>2297</td>
<td>Reproductor de DVD/Blu-ray</td>
<td>220771</td>
</tr>
<tr>
<th>2520</th>
<td>2827</td>
<td>Impresora</td>
<td>219451</td>
</tr>
<tr>
<th>2554</th>
<td>2269</td>
<td>Termostato inteligente</td>
<td>165048</td>
</tr>
<tr>
<th>2611</th>
<td>1729</td>
<td>Cargador inalámbrico</td>
<td>194108</td>
</tr>
<tr>
<th>2616</th>
<td>1486</td>
<td>Proyector</td>
<td>167771</td>
</tr>
<tr>
<th>2618</th>
<td>2432</td>
<td>Reloj inteligente para deportes</td>
<td>221459</td>
</tr>
<tr>
<th>2895</th>
<td>1499</td>
<td>Cargador inalámbrico</td>
<td>159027</td>
</tr>
<tr>
<th>2933</th>
<td>1820</td>
<td>Laptop</td>
<td>174893</td>
</tr>
</tbody>
</table>
</body>
</html>