
		<!DOCTYPE html>
		<html>
			<head>
				<title>tablas</title>
				<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 								integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
			</head>
		<html>
<table class="table table-striped">
<thead>
<tr>
<th></th>
<th>NumeroOrden</th>
<th>Costo</th>
</tr>
</thead>
<tbody>
<tr>
<th>8</th>
<td>457847</td>
<td>607946</td>
</tr>
<tr>
<th>21</th>
<td>314345</td>
<td>618659</td>
</tr>
<tr>
<th>31</th>
<td>179712</td>
<td>610875</td>
</tr>
<tr>
<th>33</th>
<td>171728</td>
<td>617196</td>
</tr>
<tr>
<th>37</th>
<td>111902</td>
<td>603845</td>
</tr>
<tr>
<th>40</th>
<td>101971</td>
<td>629042</td>
</tr>
<tr>
<th>57</th>
<td>145036</td>
<td>638437</td>
</tr>
<tr>
<th>61</th>
<td>107020</td>
<td>628304</td>
</tr>
<tr>
<th>67</th>
<td>419732</td>
<td>611264</td>
</tr>
<tr>
<th>76</th>
<td>110487</td>
<td>621545</td>
</tr>
<tr>
<th>84</th>
<td>14802</td>
<td>647137</td>
</tr>
<tr>
<th>122</th>
<td>340532</td>
<td>604788</td>
</tr>
<tr>
<th>125</th>
<td>471481</td>
<td>618688</td>
</tr>
<tr>
<th>136</th>
<td>441528</td>
<td>600086</td>
</tr>
<tr>
<th>144</th>
<td>463967</td>
<td>641478</td>
</tr>
<tr>
<th>157</th>
<td>415556</td>
<td>628882</td>
</tr>
<tr>
<th>174</th>
<td>325877</td>
<td>635636</td>
</tr>
<tr>
<th>179</th>
<td>416712</td>
<td>626655</td>
</tr>
<tr>
<th>182</th>
<td>320630</td>
<td>605718</td>
</tr>
<tr>
<th>183</th>
<td>263351</td>
<td>640960</td>
</tr>
<tr>
<th>184</th>
<td>220865</td>
<td>645461</td>
</tr>
<tr>
<th>191</th>
<td>30754</td>
<td>641675</td>
</tr>
<tr>
<th>192</th>
<td>394947</td>
<td>633813</td>
</tr>
<tr>
<th>200</th>
<td>237171</td>
<td>637223</td>
</tr>
<tr>
<th>225</th>
<td>231753</td>
<td>645998</td>
</tr>
<tr>
<th>229</th>
<td>298763</td>
<td>636890</td>
</tr>
<tr>
<th>230</th>
<td>63560</td>
<td>618511</td>
</tr>
<tr>
<th>237</th>
<td>18567</td>
<td>628877</td>
</tr>
<tr>
<th>269</th>
<td>181616</td>
<td>610355</td>
</tr>
<tr>
<th>272</th>
<td>314212</td>
<td>627291</td>
</tr>
<tr>
<th>281</th>
<td>404569</td>
<td>619879</td>
</tr>
<tr>
<th>284</th>
<td>422128</td>
<td>649009</td>
</tr>
<tr>
<th>287</th>
<td>369785</td>
<td>638188</td>
</tr>
<tr>
<th>311</th>
<td>126193</td>
<td>625020</td>
</tr>
<tr>
<th>312</th>
<td>156685</td>
<td>602034</td>
</tr>
<tr>
<th>317</th>
<td>375359</td>
<td>621409</td>
</tr>
<tr>
<th>323</th>
<td>448191</td>
<td>617827</td>
</tr>
<tr>
<th>327</th>
<td>18115</td>
<td>601505</td>
</tr>
<tr>
<th>328</th>
<td>50309</td>
<td>604689</td>
</tr>
<tr>
<th>329</th>
<td>264394</td>
<td>634617</td>
</tr>
<tr>
<th>336</th>
<td>309032</td>
<td>614613</td>
</tr>
<tr>
<th>345</th>
<td>290655</td>
<td>639574</td>
</tr>
<tr>
<th>368</th>
<td>488965</td>
<td>636310</td>
</tr>
<tr>
<th>400</th>
<td>39131</td>
<td>638814</td>
</tr>
<tr>
<th>407</th>
<td>255150</td>
<td>639444</td>
</tr>
<tr>
<th>415</th>
<td>380495</td>
<td>626074</td>
</tr>
<tr>
<th>431</th>
<td>198502</td>
<td>636108</td>
</tr>
<tr>
<th>436</th>
<td>207795</td>
<td>646869</td>
</tr>
<tr>
<th>440</th>
<td>303600</td>
<td>610460</td>
</tr>
<tr>
<th>461</th>
<td>192880</td>
<td>617679</td>
</tr>
<tr>
<th>462</th>
<td>360089</td>
<td>616510</td>
</tr>
<tr>
<th>466</th>
<td>497255</td>
<td>627665</td>
</tr>
<tr>
<th>470</th>
<td>429727</td>
<td>627974</td>
</tr>
<tr>
<th>477</th>
<td>151555</td>
<td>630718</td>
</tr>
<tr>
<th>512</th>
<td>152389</td>
<td>634689</td>
</tr>
<tr>
<th>516</th>
<td>340440</td>
<td>610365</td>
</tr>
<tr>
<th>522</th>
<td>10704</td>
<td>642990</td>
</tr>
<tr>
<th>530</th>
<td>296252</td>
<td>617646</td>
</tr>
<tr>
<th>567</th>
<td>330478</td>
<td>610326</td>
</tr>
<tr>
<th>569</th>
<td>479311</td>
<td>645211</td>
</tr>
<tr>
<th>572</th>
<td>281676</td>
<td>607298</td>
</tr>
<tr>
<th>583</th>
<td>351515</td>
<td>608641</td>
</tr>
<tr>
<th>590</th>
<td>233973</td>
<td>613451</td>
</tr>
<tr>
<th>596</th>
<td>205114</td>
<td>643514</td>
</tr>
<tr>
<th>597</th>
<td>233125</td>
<td>602236</td>
</tr>
<tr>
<th>625</th>
<td>135323</td>
<td>643683</td>
</tr>
<tr>
<th>627</th>
<td>256316</td>
<td>645450</td>
</tr>
<tr>
<th>650</th>
<td>97965</td>
<td>608781</td>
</tr>
<tr>
<th>653</th>
<td>402956</td>
<td>622813</td>
</tr>
<tr>
<th>655</th>
<td>257935</td>
<td>611427</td>
</tr>
<tr>
<th>665</th>
<td>492677</td>
<td>614888</td>
</tr>
<tr>
<th>668</th>
<td>480270</td>
<td>635994</td>
</tr>
<tr>
<th>669</th>
<td>265136</td>
<td>630435</td>
</tr>
<tr>
<th>670</th>
<td>162222</td>
<td>642731</td>
</tr>
<tr>
<th>697</th>
<td>363135</td>
<td>607066</td>
</tr>
<tr>
<th>709</th>
<td>58760</td>
<td>606851</td>
</tr>
<tr>
<th>714</th>
<td>253783</td>
<td>648987</td>
</tr>
<tr>
<th>717</th>
<td>68538</td>
<td>639738</td>
</tr>
<tr>
<th>718</th>
<td>40674</td>
<td>610579</td>
</tr>
<tr>
<th>729</th>
<td>361348</td>
<td>631920</td>
</tr>
<tr>
<th>746</th>
<td>477581</td>
<td>628406</td>
</tr>
<tr>
<th>763</th>
<td>297768</td>
<td>631765</td>
</tr>
<tr>
<th>798</th>
<td>454188</td>
<td>631842</td>
</tr>
<tr>
<th>800</th>
<td>133307</td>
<td>643325</td>
</tr>
<tr>
<th>818</th>
<td>189204</td>
<td>649598</td>
</tr>
<tr>
<th>819</th>
<td>64303</td>
<td>647618</td>
</tr>
<tr>
<th>822</th>
<td>80304</td>
<td>602042</td>
</tr>
<tr>
<th>823</th>
<td>244368</td>
<td>605505</td>
</tr>
<tr>
<th>828</th>
<td>288820</td>
<td>639115</td>
</tr>
<tr>
<th>831</th>
<td>395954</td>
<td>607588</td>
</tr>
<tr>
<th>834</th>
<td>196760</td>
<td>648755</td>
</tr>
<tr>
<th>841</th>
<td>267018</td>
<td>623621</td>
</tr>
<tr>
<th>861</th>
<td>38881</td>
<td>639134</td>
</tr>
<tr>
<th>863</th>
<td>465905</td>
<td>616075</td>
</tr>
<tr>
<th>864</th>
<td>12450</td>
<td>605387</td>
</tr>
<tr>
<th>884</th>
<td>471903</td>
<td>626776</td>
</tr>
<tr>
<th>901</th>
<td>33087</td>
<td>629815</td>
</tr>
<tr>
<th>928</th>
<td>144301</td>
<td>614314</td>
</tr>
<tr>
<th>934</th>
<td>60241</td>
<td>635262</td>
</tr>
<tr>
<th>945</th>
<td>357945</td>
<td>613991</td>
</tr>
<tr>
<th>952</th>
<td>440617</td>
<td>607027</td>
</tr>
<tr>
<th>959</th>
<td>366137</td>
<td>605141</td>
</tr>
<tr>
<th>983</th>
<td>427021</td>
<td>635751</td>
</tr>
<tr>
<th>995</th>
<td>326973</td>
<td>633502</td>
</tr>
</tbody>
</table>
</body>
</html>