
		<!DOCTYPE html>
		<html>
			<head>
				<title>tablas</title>
				<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 								integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
			</head>
		<html>
     
<table class="table table-striped">
<thead>
<tr>
<th></th>
<th>NumeroOrden</th>
<th>Costo</th>
</tr>
</thead>
<tbody>
<tr>
<th>35</th>
<td>193619</td>
<td>608938</td>
</tr>
<tr>
<th>36</th>
<td>413116</td>
<td>603599</td>
</tr>
<tr>
<th>147</th>
<td>212735</td>
<td>607657</td>
</tr>
<tr>
<th>211</th>
<td>112124</td>
<td>606999</td>
</tr>
<tr>
<th>224</th>
<td>231218</td>
<td>602787</td>
</tr>
<tr>
<th>229</th>
<td>89780</td>
<td>601363</td>
</tr>
<tr>
<th>239</th>
<td>268790</td>
<td>603224</td>
</tr>
<tr>
<th>271</th>
<td>448932</td>
<td>603528</td>
</tr>
<tr>
<th>292</th>
<td>144012</td>
<td>603669</td>
</tr>
<tr>
<th>303</th>
<td>262967</td>
<td>601522</td>
</tr>
<tr>
<th>306</th>
<td>231723</td>
<td>609994</td>
</tr>
<tr>
<th>321</th>
<td>481224</td>
<td>604242</td>
</tr>
<tr>
<th>405</th>
<td>87643</td>
<td>601689</td>
</tr>
<tr>
<th>413</th>
<td>366643</td>
<td>602164</td>
</tr>
<tr>
<th>482</th>
<td>314626</td>
<td>606217</td>
</tr>
<tr>
<th>513</th>
<td>123735</td>
<td>605091</td>
</tr>
<tr>
<th>729</th>
<td>16840</td>
<td>608351</td>
</tr>
<tr>
<th>804</th>
<td>90654</td>
<td>601526</td>
</tr>
<tr>
<th>852</th>
<td>484782</td>
<td>604793</td>
</tr>
<tr>
<th>980</th>
<td>42289</td>
<td>605728</td>
</tr>
</tbody>
</table>
</body>
</html>