
		<!DOCTYPE html>
		<html>
			<head>
				<title>tablas</title>
				<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 								integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
			</head>
		<html>
     
<table class="table table-striped">
<thead>
<tr>
<th></th>
<th>NumeroOrden</th>
<th>Costo</th>
</tr>
</thead>
<tbody>
<tr>
<th>81</th>
<td>186673</td>
<td>608131</td>
</tr>
<tr>
<th>82</th>
<td>373901</td>
<td>604471</td>
</tr>
<tr>
<th>110</th>
<td>202077</td>
<td>604789</td>
</tr>
<tr>
<th>212</th>
<td>66858</td>
<td>600705</td>
</tr>
<tr>
<th>251</th>
<td>126113</td>
<td>607555</td>
</tr>
<tr>
<th>268</th>
<td>72030</td>
<td>607524</td>
</tr>
<tr>
<th>301</th>
<td>278709</td>
<td>606000</td>
</tr>
<tr>
<th>380</th>
<td>157566</td>
<td>605394</td>
</tr>
<tr>
<th>388</th>
<td>90333</td>
<td>607683</td>
</tr>
<tr>
<th>413</th>
<td>429869</td>
<td>600872</td>
</tr>
<tr>
<th>447</th>
<td>351877</td>
<td>605244</td>
</tr>
<tr>
<th>489</th>
<td>195729</td>
<td>602584</td>
</tr>
<tr>
<th>495</th>
<td>88938</td>
<td>601399</td>
</tr>
<tr>
<th>541</th>
<td>214860</td>
<td>604440</td>
</tr>
<tr>
<th>543</th>
<td>319967</td>
<td>602040</td>
</tr>
<tr>
<th>569</th>
<td>384824</td>
<td>605850</td>
</tr>
<tr>
<th>586</th>
<td>67195</td>
<td>604373</td>
</tr>
<tr>
<th>601</th>
<td>175987</td>
<td>609300</td>
</tr>
<tr>
<th>665</th>
<td>380630</td>
<td>603749</td>
</tr>
<tr>
<th>688</th>
<td>249279</td>
<td>609329</td>
</tr>
<tr>
<th>757</th>
<td>206112</td>
<td>606661</td>
</tr>
<tr>
<th>792</th>
<td>453804</td>
<td>606225</td>
</tr>
<tr>
<th>807</th>
<td>234695</td>
<td>600104</td>
</tr>
<tr>
<th>854</th>
<td>59129</td>
<td>606192</td>
</tr>
<tr>
<th>874</th>
<td>227778</td>
<td>601978</td>
</tr>
<tr>
<th>877</th>
<td>198446</td>
<td>609015</td>
</tr>
<tr>
<th>893</th>
<td>255703</td>
<td>602392</td>
</tr>
<tr>
<th>902</th>
<td>411219</td>
<td>604605</td>
</tr>
<tr>
<th>916</th>
<td>262216</td>
<td>609511</td>
</tr>
<tr>
<th>948</th>
<td>22848</td>
<td>608066</td>
</tr>
<tr>
<th>994</th>
<td>343374</td>
<td>601057</td>
</tr>
</tbody>
</table>
</body>
</html>