<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dashboard BusinessView</title>
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />
  <link href="/assets/styles/dash_styles.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/assets/img/analítica.png" type="image/x-icon" />
</head>

<body id="page-top" class="bg-color">
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/views/home.html">
        <img class="logo" src="/assets/img/analítica.png" alt="logo" />
        <div class="sidebar-brand-text mx-3 busines">BusinessView</div>
      </a>
      <hr class="sidebar-divider my-0" />

      <!-- Titulo "Dashboard" -->
      <li class="nav-item active">
        <a class="nav-link" href="/views/dash.html">
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider" />

      <!-- Titulo "Tablas" -->
      <div class="sidebar-heading">Tablas</div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/views/vista-tablas.html" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="true" aria-controls="collapseTwo">
          <span>Ventas</span>
        </a>
        <a class="nav-link collapsed" href="/views/vista-productos.html" data-toggle="collapse"
          data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <span>Productos</span>
        </a>
        <a class="nav-link collapsed" href="/views/vista-empleados.html" data-toggle="collapse"
          data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <span>Empleados</span>
        </a>
      </li>
      <hr class="sidebar-divider" />

      <!-- Titulo "Datos" -->
      <!-- agregar json con datos -->
      <div class="sidebar-heading">Datos</div>
      <li class="nav-item">
        <a class="nav-link collapsed" target="_blank" href="/views/tables/tablaventas.html" data-toggle="collapse"
          data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <span>Ventas</span>
        </a>
        <a class="nav-link collapsed" target="_blank" href="/views/tables/tablaproductos.html" data-toggle="collapse"
          data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <span>Productos</span>
        </a>
        <a class="nav-link collapsed" target="_blank" href="/views/tables/tablaempleados.html" data-toggle="collapse"
          data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <span>Empleados</span>
        </a>
      </li>
      <hr class="sidebar-divider d-none d-md-block" />
    </ul>

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">

        <!-- Navbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..."
                aria-label="Search" aria-describedby="basic-addon2" />
              <div class="input-group-append">
                <button class="btn btn-dark" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Numeros rojos -->
            <!-- <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-bell fa-fw"></i>
                  <span class="badge badge-danger badge-counter">3+</span>
                </a>
              </li>

              <li class="nav-item dropdown no-arrow mx-1">
                <section class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-envelope fa-fw"></i>
                  <span class="badge badge-danger badge-counter">7</span>
                </section>
              </li> -->

            <!-- Linea vertical del perfil -->
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- MAIN -->
            <!-- Nav Item - User Information -->
            <!--               <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">¡Hola Susana!</span>
                  <img class="img-profile rounded-circle" src="/assets/img/susana_duque.jpg"/>
                </a>
              </li> -->
          </ul>
        </nav>

        <div class="container-fluid">
          <!-- Botón reporte -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="/views/vista-pdf.html" class="d-none d-sm-inline-block btn btn-sm btn-dark shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i>Ver PDFs</a>
          </div>

          <!-- Cards Row -->
          <div class="row">
            <!-- Card ventas -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ventas</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">1000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Card empleados -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Empleados</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">2000</div>
                    </div>
                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Card Productos -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Productos</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">3000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Metas -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Metas</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">$300.000.000</div>
                        </div>
                        <!-- Progreso metas-->
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                              aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <!-- Card tablas -->
            <!--              <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 h6 class="m-0 font-weight-bold text-primary">Tablas</h6>
                      <div class="dropdown no-arrow">
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                          <a href="/views/tables/desarrolladores.html" class="tab-link" data-tab="tabla1">Tabla 1</a>
                          <a href="#" class="tab-link" data-tab="tabla2">Tabla 2</a>
                          <a href="#" class="tab-link" data-tab="tabla3">Tabla 3</a>
                        </div>
                      </div>
                  </div> -->
            <!-- Card tablas cuerpo -->
            <!--                   <div class="card-body">                   
                    <div class="chart-area">
                      
                    </div>
                  </div>
                </div>
              </div> -->

            <!-- Card Gráficas  -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Gráficas</h6>
                </div>
                <!-- Card Gráficas cuerpo -->
                <div class="card-body">

                </div>
              </div>
            </div>
          </div>

          <!-- Card progreso -->
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Progreso</h6>
                </div>

                <!-- Card progreso cuerpo -->
                <div class="card-body">
                  <!-- Rojo -->
                  <h4 class="small font-weight-bold">Meta Anual <span class="float-right">20%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <!-- Amarillo -->
                  <h4 class="small font-weight-bold">Meta Semestral <span class="float-right">40%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <!-- Azul oscuro -->
                  <h4 class="small font-weight-bold">Meta Mensual <span class="float-right">60%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>

                  <!-- Azul claro -->
                  <h4 class="small font-weight-bold">Stock Vendido <span class="float-right">80%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <!-- Verde -->
                  <h4 class="small font-weight-bold">Productos más vendidos <span class="float-right">1000</span></h4>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>




      </div>

    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
</body>

</html>