<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/assets/styles/styles_dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Navbar -->
    <div class="navbar">
        <section>
            <img src="/assets/img/analítica.png" alt="">
        </section>
        <h1>BusinessView</h1>
        <section>
            <img class="buscar" src="/assets/img/búsqueda.png" alt="Buscar">
            <img class="usuario" src="/assets/img/usuario.png" alt="">
        </section>
    </div>

    <!--Dashboard-->
    <div class="dashboard-container">
        <section class="lateral-izq">
            <div class="card1">
                <h1>Juan Gutierrez</h1>
                <h3>Analista de Datos</h3>
                <img src="/assets/img/usuario.png" alt="">
            </div>
            <div class="card2">
                <h1>Links</h1>
            </div>
            <div class="card3">
                <h2>Soporte técnico</h2>
            </div>
        </section>
        <main class="central">
            <div class="card4">
                <h1>Lorem ipsum dolor</h1>
                <p></p>
                <section>
                    <div class="loader"><p>90%</p></div>
                    <div class="loader"></div>
                    <div class="loader"></div>
                    <div class="loader"></div>
                </section>
            </div>
            <div class="row">
                <div class="card5">
                <h1>Lorem ipsum dolor</h1>
                </div>
                <div class="card6">
                <h1>Lorem ipsum dolor</h1>
                </div>
                <div class="card7">
                <h1>Lorem ipsum dolor</h1>
                </div>
                <div class="card8">
                <h1>Lorem ipsum dolor</h1>
                </div>
            </div>
        </main>
        <section class="lateral-der">
            <div class="card9">
                <h1>Lorem ipsum dolor</h1>
                
            </div>
        </section>
    </div>
    
</body>

</html>
