<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tablas BusinessView</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
    <link href="/assets/styles/products_styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/assets/img/analítica.png" type="image/x-icon"/>
  </head>

<body>
  <div class="navbar">
    <section>
        <img class="logo" src="/assets/img/analítica.png" alt="logo">
    </section>
    <h1>BusinessView</h1>
    <section>
        <img class="buscar" src="/assets/img/búsqueda.png" alt="buscar">
        <img class="usuario" src="/assets/img/usuario.png" alt="usuario">
    </section>
</div>
<section class="contexto">
  <h1 class="titulo-filtros">productos filtros</h1>
  <section class="cards-container">
          <section class="vista-tablas">
            <a target="_blank" class="vista" href="/views/tables/productos_costosos.html">
              <div class="card">
                <img src="../assets/img/arriba.png" alt="arriba">
                <div class="card-title">Productos costosos </div>
            </div>
            </a>
            <a target="_blank" class="vista" href="/views/tables/productos_lowcost.html">
              <div class="card">
                <img src="../assets/img/abajo.png" alt="abajo">
                <div class="card-title">Productos low cost</div>
            </div>
            </a>             
          </section>
          <a class="link-dashboard" href="/views/dash.html">
            <section class="dashboard">
                <img src="/assets/img/dashboard.png" alt="Imagen 2">
                <div class="card-title">Dashboard</div>
            </section>
        </a>
  </section>
</section>
</body>
</html>