body {
    background-color: #1b1d1e;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #181a1b;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar h1 {
    font-size: 1.5em;
    margin: 0;
    color: #fff;
}

.buscar, .usuario {
    width: 30px; /* Reduje el ancho de los íconos */
    padding: 5px; /* Reduje el espacio interno de los íconos */
}

.navbar a {
    background-color: #181a1b;
    color: #898C37;
    margin-right: 10px;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 10px;  
}

/*Carrusel*/
.carousel-container {
    position: relative;
    max-width: 80%;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
}

.carousel {
    display: flex;
    animation: slide 9s infinite;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
    max-height: 400px;
    object-fit: cover;
    opacity: 0.7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    opacity: 4;
}

.overlay h2 {
    font-size: 2em;
    margin: 0;
}

@keyframes slide {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(-200%);
    }
}

/*Contexto de la herramienta*/
.contexto {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.contexto img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.title {
    font-size: 10em;
    font-weight: bold;
    margin-bottom: 20px;
} 

/*Card*/

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.perfiles{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.link-dashboard{
    text-decoration: none;
}

.card {
    background-color: #181a1b;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.card img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.dashboard{
    background-color: #181a1b;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 600px;
    text-align: center;
    color: #fff;
    transition: 0.5s;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card:hover {
    transform: translate(-3px, 0px) skew(7deg, 7deg);
}

.dashboard:hover{
    transform: translate(-3px, 0px) skew(7deg, 7deg);
}

  /* Footer */

.site-footer
  {
    background-color:#181a1b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color: #898C37;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  